# General Django settings
USE_DOCKER=no
DJANGO_SECRET_KEY=your-secret-key-here
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1


DATABASE_URL=
SECRET_KEY=secret

# PostgreSQL settings
DB_NAME=medreminds
DB_USER=postgres
DB_PASSWORD=postgres123
DB_HOST=127.0.0.1
DB_PORT=5433

EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_USE_SSL=True
EMAIL_HOST_USER=ayemeleelgol@gmail.com
EMAIL_HOST_PASSWORD=udqq mlzj zyjw pxll

SITE_URL=

REDIS_URL=redis://localhost:6379/0
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/0

DEEPSEEK_API_KEY=sk-105cf88cb6304a94bf620f911ea852cc

TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=
TWILIO_WHATSAPP_FROM=

STRIPE_PUBLIC_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

# Flutterwave API Keys
FLUTTERWAVE_PUBLIC_KEY=
FLUTTERWAVE_SECRET_KEY=
FLUTTERWAVE_ENCRYPTION_KEY=
FLUTTERWAVE_WEBHOOK_HASH=